---
import InfoCard from './subcomponents/InfoCard.astro';

interface Props {
    class? : string;
}
const { ...props } = Astro.props

---

<div class:list={["bg-lightpink-50/50 list-none w-full", props.class]}>
    <section class="flex w-full">
        <InfoCard title="Habilidades">
            <li>Dibujo Tradicional</li>
            <li>Dibujo Digital</li>
        </InfoCard>
        <InfoCard title="Tecnologías">
            <li class="text-center">
                <p>Ibis Paint</p>
                <p>Power Point</p>
            </li>
            <li class="text-center">
                <p>Notion</p>
                <p>Microsoft Word</p>
            </li>
        </InfoCard>
    </section>
    <section>
        <InfoCard title="Cualidades">
            <li class="text-center">
                <p>Creativa</p>
                <p>Organizada</p>
            </li>
            <li class="text-center">
                <p>Perseverante</p>
                <p>Minimalista</p>
            </li>
        </InfoCard>
    </section>
</div>