---
import StrawberryFirst from './Strawberries/StrawberryFirst.astro';
import StrawberrySecond from './Strawberries/StrawberrySecond.astro';
import StrawberryThird from './Strawberries/StrawberryThird.astro';
import InfoCard from './subcomponents/InfoCard.astro';

interface Props {
    class? : string;
}
const { ...props } = Astro.props

---

<div class:list={["flex flex-col gap-8 w-full p-4 relative font-montserrat-alternates", props.class]}>
    <StrawberryFirst class="top-0 left-0 -z-10 scale-75"/>
    <StrawberrySecond class="top-0 right-0 -z-10 scale-75"/>
    <StrawberryThird class="-bottom-16 right-1/4 -z-10 scale-75"/>
    <div class="size-full top-0 left-0 bg-lightpink-50/50 backdrop-blur-sm -z-10 absolute"></div>
    <section class="flex flex-col gap-8 w-full sm:flex-row sm:gap-0">
        <InfoCard title="Habilidades">
            <li>Dibujo Tradicional</li>
            <li>Dibujo Digital</li>
        </InfoCard>
        <InfoCard title="Tecnologías">
            <li class="text-center">
                <p>Ibis Paint</p>
                <p>Power Point</p>
            </li>
            <li class="text-center">
                <p>Notion</p>
                <p>Microsoft Word</p>
            </li>
        </InfoCard>
    </section>
    <section class="flex flex-col gap-8 w-full sm:flex-row sm:gap-0">
        <InfoCard title="Cualidades">
            <li class="text-center">
                <p>Creativa</p>
                <p>Organizada</p>
            </li>
            <li class="text-center">
                <p>Perseverante</p>
                <p>Minimalista</p>
            </li>
        </InfoCard>
    </section>
</div>

<style>
    li {
        line-height: 2.25rem;
    }
</style>