---
import Circle from '../components/Backgrounds/Circle.astro';

interface Props {
    title : string;
    class? : string;
}

const { title, ...props } = Astro.props

---

<html lang="en">
	<head>
        <title>{title}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<Circle class="-top-8 -left-8 scale-150 bg-lightblue-100"/>
		<Circle class="-top-20 -right-20 scale-75 bg-lightblue-100"/>
		<Circle class="top-3/4 -right-20 scale-150 bg-lightblue-100"/>
		<Circle class="top-[90%] left-20 scale-75 bg-lightblue-100"/>
		<main class:list={["font-montserrat", props.class || ""]}>
            <slot />
        </main>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Montserrat:wght@100..900&display=swap');
	
	.font-montserrat {
		font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}
	
	.font-montserrat-alternates {
		font-family: 'Montserrat Alternates', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	}

</style>